# CtrlB ingestion — update these three values
INGESTION_HOST=staging.ctrlb.dev/engine
STREAM_NAME=java_instrumentation_test
API_TOKEN=your_token_here

# Optional
# PORT=8080
# OTEL_JAVAAGENT_VERSION=2.14.0
