django>=4.2,<5.0
opentelemetry-distro
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2
# opentelemetry-instrumentation-asgi  # needed for Django Channels WebSocket tracing
